body {
    color: black !important;
    background-color: black !important;
}

canvas {
    image-rendering: pixelated;
    margin-top: 1em;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-button {
    margin-top: 1em;
    margin-bottom: 0em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.5em !important;
}

.text-input {
    font-size: 1.5em !important;
}

.dark_container {
    color: black;
    background-color: black;
}