body {
    color: black !important;
    background-color: black !important;
}

canvas {
    image-rendering: pixelated;
}

.centered-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark_container {
    color: black;
    background-color: black;
}